.emphasis em {
  @apply font-serif;
}

/* .pdfWrapper {
  position: relative;
  width: 100%;
}

@media (min-width: 1024px) {
  .pdfWrapper {
    max-width: 48rem;
    width: 115%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 1280px) {
  .pdfWrapper {
    max-width: 64rem;
  }
} */
