@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --disabled: 0 0% 70.9%;
    --disabled-foreground: 0 0% 30%;

    /* --inverted: 265 89% 78%;
    --inverted-foreground: 60 30% 96%; */

    --inverted: 0 0% 3.9%;
    --inverted-foreground: 0 0% 98%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 3.9%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 45%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --highlight-green: 151 100% 50%;

    /* --color-text: 0, 0%, 3.9%;
    --text-secondary: 0, 0%, 32.2%; */

    --radius: 0.5rem;

    /* lux cache colors */
    --surface-brand: 330, 11%, 89%;
    --surface-brand-darken: 330 11.1% 59.4%;
    --surface-secondary: 0, 0%, 96.1%;
    --surface-secondary-inverted: 0, 0%, 9%;
    /* heights */
    --height-dynamic-display-bar: 20vh;
    --height-toolbar: 4rem;
    --height-navbar: auto;
    /* widths */
    --width-navbar: 16rem;

    /* padding */
    --padding-x-searchbar: 8rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus:not(ol) {
  /* @apply outline-none ring-2 ring-pink-500 ring-opacity-50; */
}

*:focus:not(ol) {
  @apply outline-none ring-2 ring-black ring-opacity-50;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings:
    'case' 1,
    'rlig' 1,
    'calt' 0;
}

html,
body {
  /* font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif; */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply antialiased
  /* @apply text-white bg-zinc-800 antialiased; */;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

p a {
  @apply hover:underline;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  min-height: calc(100vh - 80px);
}

.eachItem::before {
  content: '🔗';
  position: absolute;
  left: -20px;
}

dialog {
  max-width: 100vw;
  max-height: 100vh;
}

/* input {
  font-size: 14px;
} */

/* Change the white to any color */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
} */

/* TODO:  Delete after testing virtual dom with tanstack virtual — */

/* .List {
  border: 1px solid #e6e4dc;
  max-width: 100%;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #e6e4dc;
}

button {
  border: 1px solid gray;
} */
